<div class="container about">
  <div class="col-md-10 col-md-offset-1">
    <h1>Aprender Inglés con Canciones:</h1>
    <h1 class="sub-header">Un método divertido y muy eficaz</h1>

    <p>
    Es necesario aprender inglés.
    </p>

    <p>
    Te entiendo. Aprender un nuevo idioma puede ser todo un reto. La pronunciación, gramática, expresiones, y el tiempo necesario para ser fluido en una lengua puede ser frustrante. Además, los métodos tradicionales son aburridos y poco efectivos. Con tantos recursos que hay en el mercado: libros,  clases en la escuela, clases online, videos, tutoriales, clases privadas etc, escoger cuál es el mejor método puede ser toda una pesadilla.
    </p>

    <p>
    Es muy simple.
    </p>

    <p>
    Hay que aprender inglés y cualquier idioma como se aprendió el propio lenguaje nativo. Escuchando, hablando, cantando, repitiendo y… sin ser una tortura! Así aprendieron los niños.
    </p>

    <h2>1. La música es divertida</h2>

    <p>
    Mira.
    </p>

    <p>
    Tú amas la música. Yo amo la música. Todos amamos la música.
    </p>

    <p>
    La música nos hace felices y existe una alta posibilidad que tu ya estés escuchando canciones en inglés.
    </p>

    <p>
    Entonces, ¿por qué no escuchar esas mismas canciones en inglés que tu ya amas y al mismo tiempo aprender el idioma?
    </p>

    <p>
    Escuchar música trae muchos efectos positivos en los seres humanos. Aumenta tu vocabulario y nos hace felices. Además, mejora tu gramática, fortalece la memoria, calma la ansiedad, incluso aumenta los niveles de dopamina y resistencia física.
    </p>

    <p>
    Sin duda es un excelente recurso en la hora de aprender un idioma. Con música se puede aprender mucho y además da felicidad... por lo tanto,  las personas que están aprendiendo un idioma deberían cantar y escuchar más música!
    </p>

    <p>
    Además que no es un método aburrido que tu cerebro va a desechar, hay evidencia científica que comprueba que escuchar música es altamente útil a la hora de aprender un idioma.
    </p>

    <p>
    Aprender inglés con canciones, cantar y escribir la letra puede ayudarte más que horas estudiando gramática. Inclusive repetir las canciones, aumenta los niveles de confianza de los estudiantes motivándolos a estudiar más.
    </p>

    <p>
    Es útil especialmente para los niños. En el proceso de crecimiento y aprendizaje, los niños de forma natural, buscan actividades lúdicas y juegos para aumentar su creatividad.
    </p>

    <p>
    Jugar es una forma poderosa de desarrollar habilidades sociales y emocionales en personas jóvenes. Jugar con música (al llenar los espacios en blancos, especialmente si es su canción favorita) puede crear conexiones sociales con otros seres humanos con gustos similares, retener la atención y generar sensaciones de placer y bienestar.
    </p>


    <h2>2. Mejora la gramática y ortografía</h2>

    <p>
    De acuerdo con el estudio realizado sobre la música y la segunda lengua, aprender idiomas con canciones ayuda a adquirir mayor vocabulario y gramática, mejora la ortografía y desarrolla habilidades lingüísticas de lectura, escritura, escucha y habla.
    </p>

    <p>
    Con LyricdDj puedes escribir las letras de tus canciones favoritas, y para que una respuesta sea válida debe tener gramática y ortografía perfecta, lo que hace que tu vocabulario aumente.
    </p>

    <p>
    Si no sabes una palabra, puedes dar en el símbolo ? y te mostrará su correcta escritura.
    </p>

    <p>
    Además mejora los niveles de escucha. Los estudiantes están expuestos a ejemplos auténticos de el segundo idioma ya que las canciones no provienen de audios creados para que las personas aprendan inglés. Es música real, que está de moda y millones de personas cantan todos los días.
    </p>

    <p>
    Sujeto + verbo + complemento …. adiós!
    </p>

    <p>
    Hola Katy Perry! ♫  ♪  You held me down, but I got up (HEY!)  ♫  ♪
    </p>

    <h2>3. Nos emociona</h2>

    <p>
    Claro! los seres humanos somos seres emocionales.
    </p>

    <p>
    Si tuvimos una mala experiencia que generó emociones negativas cuando estábamos aprendiendo química o matemáticas o inglés, nuestro cerebro se cierra y nos bloqueamos, obstruyendo el aprendizaje.
    </p>

    <p>
    Y al contrario.
    </p>

    <p>
    Las personas somos más abiertas a aprender y a retener información cuando sentimos emociones positivas.
    </p>

    <p>
    Si aprendiendo inglés estaba escuchando y cantando canciones de mi artista favorito, o si en física estaba jugando y experimentando con mi videojuego favorito, esto va a generar emociones positivas que facilitan una mayor concentración, fluidez en el proceso de aprendizaje y retención de la información en el largo plazo.
    </p>

    <p>
    Porque todos queremos ser felices y tener buenas experiencias cuando estamos aprendiendo algo nuevo! es mucho mejor que la frustración de no entender algo o la tortura de una clase monótona y aburrida.
    </p>

    <p>
    Además, está comprobado que la música ayuda a que las personas se relajen en un 70% de los casos. Y cuando un estudiante está relajado… se disminuyen las inhibiciones y bloqueos de aprender un segundo idioma, son más atentos que lo usual, y por lo tanto más receptivos del aprendizaje
    </p>

    <p>
    La música es un excelente estímulo para las personas. Tanto emocional como académico. ¡¿Qué estás esperando?!
    </p>

    <p>
    ♫  ♪ Is it too late now to say sorry? 'Cause I'm _______ more than just your body, oh ♫  ♪
    </p>

    <h2>4. La música como referente cultural</h2>

    <p>
    ¿Acaso existe algo más divertido que un extranjero esté en tu país y cante una canción típica de tu ciudad a todo pulmón?
    </p>

    <p>
    ¡Un gringo cantando reggaeton en Medellín o un Holandés cantando un tango en Buenos Aires o un Japonés cantando rancheras en México! ¡JA! imperdible.
    </p>

    <p>
    ¿Que tal si tú cantas Blink 182, The Rolling Stones, Black Eyed Peas, The Beatles, Nicky Minaj, Rihanna o tu cantante favorito, de forma perfecta?
    </p>

    <p>
    Todas las culturas, desde las primeras civilizaciones hasta las más actuales, crean música.
    </p>

    <p>
    La música hace que las personas se sientan identificadas con una región o comunidad y hace parte fundamental de la historia y las tradiciones de todas las culturas del mundo. Además la música comunica mucho acerca de una persona, una ciudad, ¡hasta de un país!
    </p>

    <p>
    Entonces si planeas viajar pronto, y quieres sumergirte realmente en su cultura ¡escucha su música! vas a ver lo útil que puede ser, para conocer personas, socializar y aprender su idioma.
    </p>

    <p>
    Te dejo una pequeña lista de los ritmos más populares en cada continente:
    </p>

    <p>
    En Suramérica y Centroamérica, predominan los ritmos caribeños, andinos y latinos, como: salsa, reggaeton, merengue, cumbia, tango, vallenato, rock, bachata, samba, reggae, son, mariachi y hip hop.
    </p>

    <p>
    En Norteamérica predominan estilos como el pop, gospel, electrónica, rap, rock, country, blues, jazz, rock and roll entre otros.
    </p>

    <p>
    En Europa se escucha música clásica, rap, power metal, jazz, flamenco, blues y otros estilos.
    </p>

    <p>
    En Asia es popular la música tradicional y religiosa, también el raga, ópera, gamelán, indostaní, carnática y pop.
    </p>

    <p>
    En África su música está ligada al ámbito religioso, espiritual, ritual y mágico, y tienen música tradicional basada en instrumentos de percusión como xilófonos, tambores y mbira.
    </p>

    <p>
    Hay tanta diversidad en la cantidad de ritmos y estilos musicales que resulta fascinante cómo las sociedades han sido transformadas y modeladas a través de la música, canciones e instrumentos musicales.
    </p>

    <p>
    Inclusive si no vas a viajar, conocer la música de otros países, abre tu mente y te permite tener empatía hacia otras personas.
    </p>

    <h2>5. Ayuda con pronunciacion</h2>

    <p>
    Aceptémoslo.
    </p>

    <p>
    La pronunciación en inglés es una de las cosas más difíciles al aprender el idioma.
    </p>

    <p>
    Yo he estudiado inglés desde que tengo 8 años, y aunque tengo conocimientos en gramática y vocabulario, mi pronunciación siempre ha tenido acento muy latino. Tipo Sofía Vergara.
    </p>

    <p>
    Claro. Y es que mis profesores no eran nativos en la lengua ¡todos eran latinos que sabían inglés! Y además para tener acento perfecto tenía que aprender inglés al mismo tiempo que aprendí español, cuando tenía 1 año… no 8 años :(
    </p>

    <p>
    Y para colmo de males, había que hablarlo constantemente, no en clases de dos horas por semana. :’(
    </p>

    <p>
    Pero… ¡nunca es tarde!
    </p>

    <p>
    Para mejorar el acento y pronunciación, es necesario estar sumergido con personas nativas del lenguaje. Y uno de los recursos más útiles y menos aburridos es: ver televisión y escuchar música!
    </p>

    <p>
    Poco a poco tu cerebro se va adaptando a la pronunciación.
    </p>

    <p>
    Por ejemplo “th” es uno de los sonidos más difíciles de pronunciar para los hispanohablantes. Y desafortunadamente el inglés, el idioma más importante y hablado en el mundo, ¡NO ES FONÉTICO! es decir, se escribe diferente a como se pronuncia.
    </p>

    <p>
    Daughter, mother, thanks, palabras que son básicas, la mayoría de los latinos las pronuncian... muy latinamente.
    </p>

    <p>
    Hasta hace poco me di cuenta que “thanks!” lo había pronunciado mal toda mi vida. Seguramente si hubiera escuchado más música y visto más televisión y menos clases tradicionales no tendría este problema.
    </p>

    <p>
    Así que aprendamos inglés de una manera diferente, divertida y correcta! Thanks! :)
    </p>

    <h2>6. Lenguaje coloquial, vocabulario</h2>

    <p>
    En la escuela nos enseñan idiomas de una forma “apropiada” es decir, la gramática y frases que se utilizaría en una conversación formal.
    </p>

    <p>
    El problema es que yo al igual que tú hablamos en jerga.  Todos los países tienen jergas y esas conversaciones que estudiamos en los libros acerca del “clima” y “del transporte”, casi nunca ocurren.
    </p>

    <p>
    Las conversaciones normales incluyen expresiones, modismos y lenguaje coloquial que ¡no nos enseñan en las escuelas! Pero es fundamental aprender esto, así que hay que buscar otros métodos de aprenderlo. Sí… exacto, escucha más música ♫  ♪ :D
    </p>

    <p>
    La música todo el tiempo utiliza frases y expresiones que son utilizadas en la comunicación normal entre personas.
    </p>

    <p>Por ejemplo, esta canción de Linkin Park:</p>

    <p class="about-lyric">♫  ♪ Do I sit here and try to stand it?
    Or do I try to catch them red-handed?" ♫  ♪</p>

    <p>Sin saber los modismos, una persona traduciría:</p>
    <p class="about-lyric">♫  ♪ ¿Me siento aquí y trato de soportarlo?
    ¿O trato de atraparlos con las manos rojas?  ♫  ♪</p>

    <p>
    Pero, la expresión red-handed significa: con las manos en la masa o “infraganti” jaja! entonces en realidad la canción traduce:</p>
    <p class="about-lyric">♫  ♪ ¿Me siento aquí y trato de soportarlo?
    ¿O trato de atraparlos infraganti?  ♫  ♪</p>

    <p>Otro ejemplo. En la canción Merry Christmas Baby, de Christina Aguilera dice:</p>
    <p class="about-lyric">♫  ♪ "I'm lit up like a Christmas tree" ♫  ♪</p>

    <p>Lo que traduce</p>
    <p class="about-lyric">♫  ♪ Estoy iluminada como un árbol de navidad ♫  ♪</p>

    <p>
    Pero estar iluminada como un árbol de navidad no tiene mucho sentido en español porque no es una expresión común. Lo que esto significa es que la persona está brillando en ese momento.(I don’t know what the expression means)?
    </p>

    <p>
    Entonces si deseas aprender inglés real o cualquier idioma, practica sus canciones y letras.
    </p>

    <h2>7. La música para comunicarnos y expresarnos</h2>

    <p>
    Al igual que las palabras y los idiomas, la música es un medio de comunicación.
    </p>

    <p>
    Los primeros humanos utilizaban la música para comunicarse, hay teorías que indican que la música es el precursor evolutivo del lenguaje, es decir, el puente entre los gritos y gestos de los primates y la comunicación que conocemos hoy en día.
    </p>

    <p>
    Los primeros sonidos emitidos, no eran solos sonidos bellos, eran una forma de lenguaje, una nueva manera de expresarse y de sentir, así como de transmitir sensaciones, imágenes y conceptos.
    </p>

    <p>
    Entonces si la música fue creada mucho antes que las palabras para comunicarnos, todavía hoy en día, representa lo mismo, una forma de transmitir lo que no se puede expresar con palabras.
    </p>

    <p>
    Entonces. Más que aprender un idioma, también es necesario poder expresarnos y comunicarnos de la manera más efectiva. Y las canciones sirven para lograr este objetivo.
    </p>

    <p>
    Al escuchar música podemos identificarnos y expresar nuestros sentimientos y también entender los sentimientos de otras personas o culturas.
    </p>

    <h2>8. La música y nuestro cerebro</h2>

    <p>
    La música, como el lenguaje, forma parte de lo más profundo de la naturaleza humana.
    </p>

    <p>
    El Doctor Daniel Levitin, plantea en su libro “Este es tu cerebro en la música” todos los efectos e influencia de la música en nuestro cerebro.
    </p>

    <p>
    Los niños que escuchan música desde pequeños, tienen mejores habilidades verbales, de comunicación, se vuelven más creativos y son más felices.
    </p>

    <p>
    Y esto es porque la música es procesada en casi todo el cerebro e influye en el desarrollo de la inteligencia.
    </p>

    <p>
    Cuando escuchamos música feliz, alegre, eso hace que nuestro estado de ánimo suba, al igual que si escuchamos canciones melancólicas o deprimentes, influye en emociones negativas.
    </p>

    <p>
    Si escuchamos melodías suaves, esto hace que nuestro cerebro se relaje y podamos pensar con más claridad.
    </p>

    <h2>Entonces, ¿sí es posible aprender inglés con canciones?</h2>

    <p>
    Si.
    </p>

    <p>
    Como vimos, la música tiene muchos beneficios tanto emocionales, sociales, culturales, de comunicación y también nos facilita el proceso de aprendizaje de un idioma, nos ayuda con gramática, ortografía, pronunciación y lenguaje coloquial y expresiones.
    </p>

    <p>
    Nos hace felices.
    </p>

    <p>
    Nos motiva a estudiar más.
    </p>

    <p>
    Y más importante, estamos en contacto real con el idioma y la cultura. Todos amamos la música, y podemos aprender el idioma ¡de una forma divertida y efectiva!
    </p>
  </div>
</div>
