<div class="container">

  <div class="row">
    <audio controls>
      <source src="<%= @song_path %>" type="audio/mpeg">
    </audio>
    <select id="select-level">
      <option value="lines_per_blank=1">Insane</option>
      <option value="lines_per_blank=2">Hard</option>
      <option value="lines_per_blank=3">Normal</option>
      <option value="lines_per_blank=4">Easy</option>
    </select>
  </div>

  <div class="row">
    <h2><%= @song.name %></h2>
    <% @blankified_lyrics.each do |lyric| %>
      <%= lyric %>
      <br>
    <% end %>
  </div>

</div>
