<%= render "partials/songplayer" %>

<div class="container" id="song-body">
  <div class="row">
    <div class="artist-info">
      <h2><%= @song.name%></h2>
      <h3><%=@song.artist.first_name + " " + @song.artist.last_name%></h3>
    </div>
    <div class="lyrics col-md-8 col-md-offset-2">
      <br>
      <% @blankified_lyrics.each do |lyric| %>
        <%= lyric %>
        <br>
      <% end %>
    </div>
  </div>
</div>
