<div class="container" id="songs">

  <% @music_types.each do |type| %>
    <h2><%= type.name %> - <%= type.language %></h2>
    <div class="playlist">
      <% type.songs.each do |song| %>
        <div>
          <%= link_to(artist_song_path(artist_slug: song.artist.slug, song_slug: song.slug)) do %>
            <%= image_tag("#{song.artist.slug}/#{song.slug}") %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
