.nav li {
  position: relative;
  display: block;
}

#audio-player {
  padding-top: 10px;
}

.dropdown {
  text-align: center;
}

.control-dropdown {
  margin-top: -5px;
}

.control-header {
  color: darkgray;
}

.dropdown:hover .control-header {
  border-bottom: 1px solid white;
  color: white;
}

#user-icon {
    line-height: 35px;
}
