.nav li {
  position: relative;
  display: block;
}

.dropdown {
  text-align: center;
}

.control-dropdown {
  margin-top: -5px;
}

.control-header {
  color: darkgray;
}

.dropdown:hover .control-header {
  border-bottom: 1px solid white;
  color: white;
}

#user-icon, #brand {
    line-height: 20px;
}

#nav-song-player {
  display: flex;
  justify-content: center;
  width: 75%;
}
