// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lyrics {
  font-size: 1.5em;
}

.lyrics input {
  background: #eee;
}

.artist-info {
  text-align: center;
  padding: 0 25px;
}

.artist-info h2, .artist-info h3, .artist-info h5 {
  margin: 0;
}

.artist-info h5 {
  text-align: center;
}

#audio-player {
  vertical-align: bottom;
}

#song-controls {
  top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#song-body {
  padding-top: 60px;
}

